@import url('https://fonts.googleapis.com/css?family=Rammetto+One&display=swap');

body {
  font-family: Tahoma, sans-serif;
    width: 100%;
}

.head {
  position: relative;
    height: 20em;
}
.img-resp {
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.img-container {
    position: relative;
    height: 30em;
}
.head .overlay {
  position: absolute;
  font-size: 100%;
  top: 25%;
  left: 5%;
  width: 60%;
  height: 100%;
  padding: 1rem;
}
.overlay h1 {
  position: relative;
  font-family: "Rammetto One";
  line-height: 1em;
  font-size: 2.0em;
  color: #F20732;
}
h2 {
    font-family: "Rammetto One";
    font-size: 1.75em;
    margin: 1em 0.5em 2em 0.5em;
}
.overlay q {
  position: relative;
  color: #013059;
}
.fixed-top {
  width: 100%;
  height: 3.5rem;
  top: 0;
  left: 0;
  background-color: rgba(122,159,191,0.5);
}
.footer {
    padding: 1em;
    min-height: 4em;
}
.unit{
    padding: 3em 2em 3em 2em;
    min-height: 10em;
    z-index: 1;
}
.unit-red-dark {
    background: rgb(92,1,8);
    background: linear-gradient(90deg, rgba(92,1,8,1) 0%, rgba(114,2,11,1) 75%);
    color: white;
}
.unit-red-light {
    background: rgb(202,3,40);
    background: linear-gradient(90deg, rgba(202,3,40,1) 0%, rgba(242,7,50,1) 75%);
    color: white;
}
.unit-blue-dark {
    background: rgb(1,31,71);
    background: linear-gradient(90deg, rgba(1,31,71,1) 0%, rgba(1,39,89,1) 75%);
    color: white;
}
.unit-blue-mid {
    background: rgb(1,35,64);
    background: linear-gradient(90deg, rgba(1,35,64,1) 0%, rgba(1,48,89,1) 75%);
    color: white;
}
.unit-blue-light {
    background: rgb(76,119,157);
    background: linear-gradient(90deg, rgba(76,119,157,1) 0%, rgba(122,159,191,1) 75%);
    color: white;
}
.unit-white {
    background-color: white;
    color: #013059;
}
.center{
    text-align: center;
}
.btn-red-light {
    background: rgb(202,3,40);
    background: linear-gradient(90deg, rgba(202,3,40,1) 0%, rgba(242,7,50,1) 75%);
}
.pm-0 {
    padding: 0;
    margin: 0;
}

.footer-item {
    text-decoration: none;
    font-size: 1em;
    color: white;
    text-align: right;
    margin-left: calc(100% - 100px);
}
.footer-item:hover {
    color: #f20732;
    text-decoration: none;
}
.nav-link-color{
    color: rgba(255,255,255,0.6);
    text-decoration: none;
    font-size: 1.2em;
    line-height: 2em;
}
.nav-link-color:hover {
    color: rgba(255,255,255,0.8);
    text-decoration: none;
}
.nav-item-color {
    padding: 0.2em 0.2em 0.2em 0.5em;
}
.nav-item-color:hover {
    background: rgb(242,7,50);
    background: linear-gradient(90deg, rgba(242,7,50,1) 0%, rgba(242,7,50,0) 70%);
}



@media (min-width: 768px) {
    .order-md-1 {
        order: 1;
    }
    .order-md-2 {
        order: 2;
    }
    .head .overlay {
        top: 35%;
    }
    .head .overlay h1 {
        font-size: 3.0em;
    }
    .unit {
        padding: 5em;
    }

    .head {
        height: 30em;
    }
    .img-container {
        height: 50vw;
    }
}

@media (min-width: 992px) {
    .unit {
        font-size: 1.3em;
    }
}